:root {
    --color-background: rgb(250, 250, 250);
    --color-foreground: black;
    --color-darkened: grey;
    --color-lightened: lightgrey;
    --color-select-border: rgba(0, 0, 0, 0.4);
}


.dark {
    --color-background: rgb(0, 10, 25);
    --color-foreground: white;
    --color-darkened: lightgrey;
    --color-lightened: rgb(90, 90, 90);
    --color-select-border: rgba(255, 255, 255, 0.4);
}


html, body {
    margin: 0;
    font-family: 'Fragment Mono', monospace;
    color: var(--color-foreground);
    background: var(--color-background);
}


button {
    font-family: 'Fragment Mono', monospace;
    color: var(--color-foreground);
    -webkit-tap-highlight-color: transparent;
    transition: opacity 0.1s ease-out;
}


button:active {
    opacity: 0.5;
}


select {
    background-color: var(--color-background);
    color: var(--color-foreground);
    border: 1px solid var(--color-select-border);
    border-radius: 5px;
    padding: 5px;
    font-family: 'Fragment Mono', monospace;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}


i {
    color: var(--color-foreground);
}


input[type='checkbox'] {
    cursor: pointer;
}


.logo.dark {
    filter: invert(1);
}


.logo {
    height: calc(1rem + 1vw);
    width: auto;
}


.container-gap {
    gap: 0.5rem;
}


.container-border {
    padding: 0.5rem 1rem;
    border: 3px solid var(--color-foreground);
    border-radius: 5px;
}


.no-margin {
    margin: 0;
}


.container-centered-row {
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.p-margin-top-bottom {
    margin-top: 1vh;
    margin-bottom: 1vh;
}


.color-grey {
    color: var(--color-darkened);
}


.text-align-center {
    text-align: center;
}


.width-inherit {
    width: inherit;
}


.container-space-between-row {
    display: flex;
    justify-content: space-between;
}


.container-centered-space-between-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container-align-end {
    display: flex;
    align-items: end;
}


.container-align-start {
    display: flex;
    align-items: start;
}


.bg-color-black {
    background-color: var(--color-foreground);
}


.progress-bar-marker {
    height: 20px;
    width: 3px;
    background-color: var(--color-darkened);
}


.hidden {
    visibility: hidden;
}


.smoothed-transition {
    transition: all 0.7s ease-out;
}


.explicit-flex {
    display: flex;
}


.square-aspect {
    aspect-ratio: 1/1;
    box-sizing: border-box;
}


.background-white {
    background-color: var(--color-background);
}


.no-scrollbar {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;  /* Firefox */
}


.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}


.preferences-menu {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    border: 1px solid var(--color-darkened);
    border-radius: 5px;
    padding: 1rem 2rem;
    overflow-y: clip;
    transition: transform 150ms ease-out, opacity 150ms ease-out;
}


.preferences-options {
    overflow-y: scroll;
}


.preferences-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-foreground);
}


.preferences-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-select-border);
    padding-bottom: 0.7rem;
    margin: 1.5rem 0;
}


.nowrap {
    white-space: nowrap;
}


.no-select {
    user-select: none;
}


.pointer-hover:hover {
    cursor: pointer;
}


.loader {
    height: 1rem;
    aspect-ratio: 1/1;
    border: 2px solid var(--color-foreground);
    border-bottom-color: var(--color-background);
    border-radius: 50%;
    animation: rotation 0.5s linear infinite;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@media (width <= 35rem) {
    .preferences-option {
        flex-direction: column;
        align-items: start;
    }

    .preferences-option > .no-margin {
        margin-bottom: 0.5rem;
    }
}


#top-bar {
    position: absolute;
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    z-index: 2;
}


#main {
    position: relative;
    height: 90vh;
    width: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
}


#prayer-name {
    font-size: 2rem;
    margin: 0 0 2rem 0;
}


#progress-bar-container {
    width: calc(70vw + 4rem);
}


#progress-bar {
    width: 70vw;
    height: 20px;
    position: relative;
    align-items: normal;
}


#progress-bar-marker-container {
    position: absolute;
    z-index: 2;
}


#bar {
    height: 5px;
    background-color: var(--color-lightened);
}


#progress-container {
    position: absolute;
    display: flex;
    align-items: center;
}


#progress {
    height: 5px;
    width: 0%;
}


#progress-marker {
    width: 3px;
    height: 10px;
}


#progress-marker-label-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 0%;
    height: 32px;
}


#delta-time-container {
    min-width: 5rem;
}


#next-previous-button-container {
    position: absolute;
    top: 80%;
}


#next-previous-button {
    border: 0px;
    padding: 0.5rem;
    text-decoration: underline;
    font-size: 1rem;
}


#preferences-button {
    font-size: 1.1rem;
    border: 3px solid var(--color-foreground);
    border-radius: 5px;
}


#preferences-menu-screen {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    transition: backdrop-filter 200ms ease-out, visibility 200ms ease-out;
}


#close-pref-menu {
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
}


#preferences-menu-screen.hidden {
    backdrop-filter: blur(0px);
    visibility: hidden;
}


#preferences-menu-screen.hidden > .preferences-menu {
    transform: scale(0.95);
    opacity: 0;
}


#preferences-menu-screen.shown {
    backdrop-filter: blur(4px);
    visibility: visible;
}


#preferences-menu-screen.shown > .preferences-menu {
    transform: scale(1);
    opacity: 1;
}