html, body {
    margin: 0;
    font-family: 'Fragment Mono', monospace;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#clock {
    font-size: 5rem;
    margin-bottom: 0;
}

#next-prayer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#next-prayer {
    font-size: 2rem;
    margin: 0;
}

#next-prayer-container p {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#next-prayer-time {
    margin: 0 2vh;
}

#progress-bar-container {
    width: 80vw;
}

#progress-bar {
    width: inherit;
    height: 20px;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

#markers {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: inherit;
}

.marker {
    height: 20px;
    width: 3px;
    background-color: grey;
}

#bar {
    width: inherit;
    height: 5px;
    background-color: lightgrey;
}

#progress-bar-labels {
    display: flex;
    justify-content: space-between;
    width: inherit;
}
